@font-face {
    font-family: Gogoia;
    src: url('./fonts/GOGOIA-Deco.otf');
}

@font-face {
    font-family: TingTong;
    src: url('./fonts/TingTong.ttf');
}

@font-face {
    font-family: 'CaviarDreams';
    src: url('./fonts/CaviarDreams.ttf')
}

@font-face {
    font-family: 'DecourLight';
    src: url('./fonts/DecourCnd-Ultralight.otf') 
}

.container {
    padding-top: 24px;
}

#outer-circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    overflow: visible;
}

.left-side {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 2px solid #eee;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
}

.left-side.fill {
    border-color: transparent;
    border-left-color: #9997f4;
    border-bottom-color: #9997f4;
}

.right-side {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 2px solid #9997f4;
    border-left-color: #eee;
    border-bottom-color: #eee;
}

#avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    left: 10;
    top: 10;
}

#name {
    padding-top: 1em;
    text-align: right;
    padding-right: 0;
}

#firstname {
    font-family: 'Gogoia';
    font-size: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

#lastname {
    color: #9997f4;
    font-weight: bold;
    margin: 0;
    line-height: 0;
    font-size: 1rem;
}

.handwriting {
    font-family: 'TingTong';
}

#contacts {
    margin-top: 1.5rem;
    font-size: 0.6rem;
    font-family: 'CaviarDreams';
    font-weight: bold;
}

.ta-right {
    text-align: right;
}

.icon-contact {
    height: 18px;
}

.icon-left {
    margin-right: 5px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

/* #allpro {
    position: relative;
} */

#headpro {
    width: 50%;
    /* position: absolute; */
    font-family: 'Gogoia';
    font-size: 1.7rem;
    border-style: double;
    
    
}

#profile {
    font-family: 'CaviarDreams';
    font-size: 1rem;
    position: relative;
}




@media (min-width: 576px) {
    #outer-circle {
        height: 200px;
        width: 200px;
    }
    #avatar {
        height: 160px;
        width: 160px;
        left: 20;
        top: 20;
    }
    #name {
        padding-top: 2.5em;
    }
    #firstname {
        font-size: 4em;
    }
    #lastname {
        color: #9997f4;
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    #outer-circle {
        height: 250px;
        width: 250px;
    }
    #avatar {
        height: 200px;
        width: 200px;
        left: 25;
        top: 25;
    }
    #name {
        padding-top: 4em;
    }
    #firstname {
        font-size: 5em;
    }
    #lastname {
        color: #9997f4;
        font-size: 2.5rem;
    }
    #contacts {
        font-size: 1rem;
    }
    .icon-contact {
        height: 25px;
    }
}

@media (min-width: 992px) {
    div#contacts>div {
        text-align: center;
    }
    .icon-contact {
        height: 35px;
    }
}

@media (min-width: 1200px) {}

